html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    box-sizing: border-box;
}

body{
    background-color: #D2E0E0 ;
}

/* Username design */

#username {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 15%;
    margin-bottom: 3%;
    top: 0;
    z-index: -1;
    
}

#clockin_icon {
    width: 15rem;
    height: auto;
    margin-left: 5%;
}

#username_text {
    color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-size: 2.5rem;
    margin-left: auto;
    padding-right: 5%;
}

/* Welcome text design */

#welcome {
    margin: 3% 0 3% 5%;
}

#welcome_text {
    color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-size: 3.5rem;
}
/* Botones design */

#botones {
    display: flex;
}

.boton_marcacion {
    width: 35rem;
    height: 10rem;
    background-color: #000E1F;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5%;
}

.boton_marcacion:hover {
    background-color: rgb(10, 119, 119);
}

/* Modales Design */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
}

.modal-content {
    background-color: #000E1F;
    border-radius: 20px; 
    width: 85%;
    height: 85%;
    margin: auto;
     
    color: rgb(255, 255, 255);
    box-shadow: 0 0 40px 5px #000000;

    position: relative;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-size: 2.5rem;    
    text-align: center;
    text-wrap: balance;
}

.close {
    color: #ffffff; 
    float: right; 
    font-size: 30px; 

    font-weight: bold; 
    cursor: pointer; 
    position: absolute;
    right: 15px; 
    top: 5px; 
}

.ventana_ME_text {
    font-weight: 300;
    margin: 2% 0 2% 0;
}

@media screen and (max-width: 600px) {
    #username {
        display: flex;
        align-items: center;
        background-color: white;
        width: 100%;
        height: auto;
        
        top: 0;
        z-index: 1;
    }

    #clockin_icon {
        width: 10rem;
        height: auto;
        margin: 5% 0 5% 5%;
    }
    
    #username_text {
        display: none;
    }

    #welcome {
        margin: 15% 0 15% 5%;
    }
    
    #welcome_text {
        color: black;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        font-size: 3rem;
    }

    #botones {
        display: flex;
        flex-direction: column;
    }
    
    .boton_marcacion {
        width: 23rem;
        height: 8rem;
        background-color: #000E1F;
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 2.5rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin: 0 auto 5% auto;
    }
    
    .modal-content{
        font-size: 1.5rem;
        width: 90%;
        height: 90%;
        margin: auto;
    }

    .ventana_ME_text {
        font-weight: 300;
        margin: 10% 0 5% 0;
    }
 
}


