#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/Img_backgrounds/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    transform: scale(1.1);
}

#login {
    background-color: white;
    position: absolute;
    top: 10%;
    bottom: 15%;
    left: 25%;
    right: 25%;
    box-shadow: 0 0 20px 5px #000000;
}

img {
    display: block;
    margin: 5% auto 6% auto;
    width: 40%;
    height: auto;
}


.login_credencial {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 10%; 
    color: #000000;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}


.cajas_credenciales {
    border-radius: 10px;
    border: solid 2px #000000;
    font-size: 30px;
    padding-left: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 78%;
}

#boton {
    margin-left : 10%;
    padding-left: 15px;
    margin-top: 3%;
    display: block;
    color: white;
    background-color: #002060;
    font-size: 25px;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    
    padding: 1%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}

#boton:hover {
    background-color: #004080;
}

/* Estilo para campos con error */

.mensaje-error {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;

    color: #e74c3c;
    font-size: 1.5rem;
    
    text-align: center;
    animation: fadeIn 0.3s ease-in;
    
   
}

.error-input {
    border-color: #e74c3c; /* Usa el mismo color rojo que el mensaje de error */
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (max-width: 600px) {
    #login {
        top: 25%;
        bottom: 25%;
        left: 5%;
        right: 5%;
    }

    img {
        width: 50%;
        margin: 12% auto 13% auto;
    }
    
    .login_credencial {
        font-size: 1.5rem;
        margin-top: auto;
    }

    .cajas_credenciales {
        font-size: 1.2rem;
        margin-top: 3%;
        margin-bottom: 3%;
        padding-bottom: 2%;
        padding-top: 2%;
    }

    #boton {
        font-size: 1.2rem;
        margin-top: 3%;
        padding: 7px;
    }

    .mensaje-error {
        font-size: 1rem;
    }
}



